*{  margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
#navbar{
    display: flex;
    width: 85%;
    margin-left: 100px;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 100px;
}
.listitem{
    list-style: none; 
    /* remove styling of list items */
    display: inline;
    /* to align all items in a line */
    margin: 10px 20px;
    font-weight: 100; 
    /* to increase boldness */
}
/* pseudoclass- used to define a special state of an element eg:hover,active,inactive etc..
 syntax: element:pseudoclass{property:value} */

li a:hover{
    color:red;
 }
li a{
    text-decoration: none;
    color: black;
 }
 #title{
    margin-top: 13%;
    margin-left: 8%;
 }
 #title h1{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
 }
 #lastname{
    color: orange;
 }
 #title {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
 }
 #images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    right: 30px;
 }
 .imagegroup{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left:50%;
    transform: translateX(-50%);
    transition: bottom 1s ,left 2s;
 }
/* transform-apply 2D or 3D transformations to an element */
#images:hover #shape{
    bottom: 50px;
}
#images:hover #girl{
    left:40%;
}
#about{
    margin: 20% 8% 0 8%;
}
.heading{
    text-align: center;
}
.heading h2{
   font-size: 40px;
}
.heading p{
    font-size: 20px;
    color: green;

}
#content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem;
    margin-top: 2rem;
}
#content_image img{
    width: 80%;
}
#content_details {
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
}
#informations{
    margin-top: 2rem;
}
.info{
    margin-top: 1rem;
}
.info span{
    margin-left: 1rem;
}
#skills{
    margin: 8% 8% 0% 8%;
}
#skill_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
#skill_img img{
    width: 100%;
}
.bar_container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    position: relative;
    height: 5%;
    

}
.bar_container span{
    font-weight: 800;
    font-size: 20px;
    
}
.bar{
    width: 90%;
    height: 1rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
#html_bar{
    width: 85%;
    background-color: orange;
}
#css_bar{
    width: 78%;
    background-color: orange;
}
#js_bar{
    width: 79%;
    background-color: orange;
}
#react_bar{
    width: 75%;
    background-color: orange;
}

#contact{
    margin-top: 7%;
}
.icon_set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 20px;
}
.icon, .arrow {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon i{
    color: black;
    
}
.icon:hover{
    background-image: linear-gradient(to bottom right,yellow,#ff9900);
    animation:shake 0.7s;
}
.icon:hover i{
    color: white;
   
}
@keyframes shake {
    0%{
        transform: rotate(15deg);
       
    }
    20%{
        transform: rotate(-15deg);
        
        
    }
    30%{
        transform: rotate(15deg);
       
    }
    40%{
        transform: rotate(-15deg);
        
    }
}
footer{
     padding: 3rem opx;
}
footer p{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.arrow{
    background-image: linear-gradient(to bottom right,yellow,rgb(214, 127, 13));
    float: right;
    margin: 10px 50px 50px 0px;
}
html{
    scroll-behavior: ;
}